.media {
	border: solid;
}

.buttons {
	border: 0em;
	border-radius: 5em;
}

.container {
	text-align: center;
	align-items: center;
	margin-top: 8vh;
}

html body {
	font-family: 'Kadwa', serif;
	background-color: lightblue;
}

#search-box {
	max-width: 15vw;
	align-items: center;
	text-align: center;
	border: none;
	border-radius: 10em;
}

footer {
	text-align: center;
	align-items: center;
}
/* #test {
	float: left;
} */
